{% extends "admin/base_site.html" %}
{% load admin_urls i18n %}

{% block title %}
    {{ menu.name }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='menus' %}">menus</a>
        &rsaquo; <a href="{% url 'admin:menus_menu_changelist' %}">menus</a>
        &rsaquo; {{ menu.name }}
    </div>
{% endblock %}

{% block content %}

    <div id="basic-info" class="module">
        <h1>{{ menu.name }}</h1>
        <p>{{menu.description}}</p>
        <p>
            <a href="{% url 'admin:menus_menu_change' object_id=menu.id %}" target="_blank" class="changelink">
                Edit
            </a>
        </p>
    </div>

    <div id="menu-items" class="module">
        <h2>Meal schedule</h2>

        <form id="optimise-menu" action="{% url 'menu-optimise' menu_id=menu.id %}" method="post">
            {% csrf_token %}
            <div class="submit-row">
                <input type="submit" value="Optimise" class="default" name="_save" disabled="{% if menu.requirements is None %}true{% else %}false{% endif %}">
            </div>
        </form>
        <table>
            <tr>
                <th></th>
                {% for day in days %}
                    <th>{{ day.label }}</th>
                {% endfor %}
            </tr>
            {{ menu_items }}
            {% for meal_time, days in meal_schedule.items %}
                <tr>
                    <td><b>{{ meal_time.label }}</b></td>
                    {% for day, menu_item in days.items %}
                        <td>
                            {% if menu_item.recipe_id %}
                                <p>
                                    <a href="{% url 'recipe-details' recipe_id=menu_item.recipe_id %}" target="_blank">
                                        {{ menu_item.recipe.name }}
                                    </a>
                                </p>
                                <p>
                                    {% if menu_item.optimiser_generated %}
                                        Lock
                                    {% else %}
                                        Unlock
                                    {% endif %}
                                </p>
                            {% else %}
                                <a href="{% url 'admin:menus_menuitem_change' object_id=menu_item.id %}" target="_blank">
                                    Select
                                </a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="menu-requirements" class="module">
        <h2>Requirements</h2>
        {% if not menu.requirements %}
            <p>Menu has no requirements!</p>
            Select here
        {% else %}
            <p>
                <a href="{% url 'admin:menus_menurequirements_change' object_id=menu.requirements.id %}" target="_blank" class="changelink">
                    Edit
                </a>
            </p>
            <h3>Maximum occurrences per recipe: {{ menu.requirements.maximum_occurrences_per_recipe }}</h3>
            <h3>Nutrient requirements:</h3>
            <table>
                <tr>
                    <th>Nutrient</th>
                    <th>Minimum</th>
                    <th>Maximum</th>
                    <th>Target</th>
                    <th>Units</th>
                </tr>
                {% for nutrient_requirement in menu.requirements.nutrient_requirements.all %}
                    <tr>
                        <td>{{ nutrient_requirement.nutrient.name }}</td>
                        <td>{{ nutrient_requirement.minimum_quantity | floatformat:"1" | default_if_none:"None" }}</td>
                        <td>{{ nutrient_requirement.maximum_quantity | floatformat:"1" | default_if_none:"None" }}</td>
                        <td>{{ nutrient_requirement.target_quantity | floatformat:"1" }}</td>
                        <td>{{ nutrient_requirement.units | title }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <div id="nutritional-information" class="module">
        <h2>Nutritional information</h2>
        <h3>Per serving</h3>
        <table>
            <tr>
                <th>Nutrient</th>
                <th>Grams</th>
            </tr>
            {% for nutrient in nutritional_information %}
                <tr>
                    <td>{{ nutrient.nutrient.name }}</td>
                    <td>{{ nutrient.nutrient_quantity | floatformat:"1" }}</td>
                    <td>{{ nutrient.units | title }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
