{% extends "admin/base_site.html" %}
{% load admin_urls i18n %}

{% block title %}
    {{ recipe.name }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='recipes' %}">Recipes</a>
        &rsaquo; <a href="{% url 'admin:recipes_recipe_changelist' %}">Recipes</a>
        &rsaquo; {{ recipe.name }}
    </div>
{% endblock %}

{% block content %}
    <div id="basic-info">
        <h1>{{ recipe.name }}</h1>
        <p>By {{ recipe.author }}</p>
        <p>Serves: {{ recipe.number_of_servings }}</p>
        <p>{{recipe.description}}</p>
    </div>

    <hr>

    <div id="recipe-ingredients">
        <h2>Ingredients</h2>
        <h3>For {{ recipe.number_of_servings }} servings</h3>
        <table>
            <tr>
                <th>Ingredient</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Units</th>
            </tr>
            {% for recipe_ingredient in recipe_ingredients %}
                <tr>
                    <td>{{ recipe_ingredient.ingredient.name_singular }}</td>
                    <td>{{ recipe_ingredient.ingredient.category }}</td>
                    <td>{{ recipe_ingredient.quantity | floatformat:"0" }}</td>
                    <td>{{ recipe_ingredient.ingredient.units }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <hr>

    <div id="nutritional-information">
        <h2>Nutritional information</h2>
        <h3>Per serving</h3>
        <table>
            <tr>
                <th>Nutrient</th>
                <th>Grams</th>
            </tr>
            {% for nutrient in nutritional_information %}
                <tr>
                    <td>{{ nutrient.nutrient_name }}</td>
                    <td>{{ nutrient.nutrient_quantity_grams | floatformat:"1" }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
