# Postgres
DB_NAME=reciply
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=
AWS_RECIPES_BUCKET_NAME=

# Plugins
FILE_STORAGE_CLASS=plugins.storage.LocalFileStorage
